**/.DS_Store
**/node_modules
**/cypress/results
**/cypress/reports/html
**/cypress/screenshots
**/cypress/downloads
**/cypress/videos
**/.git
**/*.txt
**/*.docx
**/*.xlsx
**/*.pdf
**/*.zip
**/reports/mochawesome
**/allure-report
**/allure-report - Copy
**/allure-results